version: "3.8"
services:
  prometheus:
    image: {{ prometheus_image }}
    volumes:
      - {{ prometheus_config }}:/etc/prometheus/prometheus.yml:ro
      - {{ alert_rules_path }}:/etc/prometheus/rules:ro
    ports:
      - "{{ prometheus_port }}:9090"
    networks:
      - {{ network_name }}
{% if enable_grafana %}
  grafana:
    image: {{ grafana_image }}
    environment:
      - GF_SECURITY_ADMIN_PASSWORD={{ grafana_admin_password }}
    volumes:
      - {{ grafana_provisioning }}:/etc/grafana/provisioning:ro
      - {{ dashboards_path }}:/var/lib/grafana/dashboards:ro
    ports:
      - "{{ grafana_port }}:3000"
    depends_on:
      - prometheus
    networks:
      - {{ network_name }}
{% endif %}
{% if enable_alertmanager %}
  alertmanager:
    image: {{ alertmanager_image }}
    volumes:
      - {{ alertmanager_config }}:/etc/alertmanager/config.yml:ro
    ports:
      - "{{ alertmanager_port }}:9093"
    depends_on:
      - prometheus
    networks:
      - {{ network_name }}
{% endif %}
